<div class="neos-row-fluid">
    <legend>{source.title}</legend>
    <table class="neos-table">
        <thead>
            <tr>
                <td></td>
                <f:for each="{locales}" as="locale">
                    <th colspan="2"><strong>{locale}</strong></th>
                </f:for>
            </tr>
        </thead>
        <tbody>
            <f:for each="{translationsByLocale}" key="translationIdentifier" as="labelInformations">
                <tr>
                    <td style="line-height: 1.5em; padding: 1em;">
                        <div>
                            <strong>{labelInformations.identifier}</strong>
                        </div>
                        <f:if condition="{labelInformations.description}">
                            <f:then>
                                <div style="font-style: italic; color: grey; padding-top: .5em;">
                                    {labelInformations.description}
                                </div>
                            </f:then>
                        </f:if>
                    </td>
                    <f:for each="{labelInformations.translations}" key="localeIdentifier" as="translationInLocale">
                        <td style="line-height: 1.5em; padding: 1em; border-left: 1px solid #222;">
                            <div>
                                {translationInLocale}
                            </div>
                            <f:if condition="({translationInLocale.override} || {translationInLocale.fallback}))">
                                <div style="font-style: italic; color: grey; padding-top: .5em;">
                                    <f:if condition="{translationInLocale.override}"><strike>{translationInLocale.translation}</strike><br/></f:if>
                                    <f:if condition="{translationInLocale.fallback}">fallback from: {translationInLocale.fallbackLocaleIdentifier}</f:if>
                                </div>
                            </f:if>
                        </td>
                        <td>
                            <f:if condition="{translationInLocale.override}">
                                <f:then>
                                    <f:link.action action="updateOverride" arguments="{ sourceIdentifier: source.identifier, labelIdentifier: translationIdentifier, localeIdentifier:localeIdentifier }">
                                        <i class="fas fa-pencil-alt icon-white"></i>
                                    </f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="newOverride" arguments="{ sourceIdentifier: source.identifier, labelIdentifier: translationIdentifier, localeIdentifier:localeIdentifier }">
                                        <i class="fas fa-plus icon-white"></i>
                                    </f:link.action>
                                </f:else>
                            </f:if>
                        </td>
                    </f:for>
                </tr>
            </f:for>
        </tbody>
    </table>
</div>
