
<div class="neos-row-fluid">
    <legend>Available translation sources</legend>
    <table class="neos-table">
        <thead>
            <tr>
                <th>Package Name</th>
                <th>Source</th>
            </tr>
        </thead>

        <tbody>
            <f:for each="{packagesSources}" key="packageKey" as="packagesSource">
                <f:for each="{packagesSource.sources}" as="source">
                <tr>
                    <td>{packageKey}</td>
                    <td>{source}</td>
                    <td class="neos-priority1 neos-aCenter">
                        <f:link.action action="showSource" arguments="{source: source}">
                            <i class="fas fa-pencil-alt icon-white"></i>
                        </f:link.action>
                    </td>
                </tr>
                </f:for>
            </f:for>
        </tbody>
    </table>
</div>
