<f:form
    action="add"
    object="{translationLabel}"
    name="translationLabel"
>
    <f:form.hidden property="source"  />
    <f:form.hidden property="label" />
    <f:form.hidden property="locale"  />

    <legend>Create override "{translationLabel.locale}" translation  {translationLabel.label} in source {translationLabel.source}</legend>

    <div class="neos-control-group">
        <label class="neos-control-label" for="translation">Translation</label>
        <div class="neos-controls neos-controls-row">
            <f:form.textfield property="translation" id="translation" class="neos-span12" />
        </div>
    </div>

    <div class="neos-footer">
        <f:link.action action="acdSource" class="neos-button" arguments="{source: translationLabel.source}">Back</f:link.action>
        <input class="neos-button neos-button-primary" type="submit" name="" value="Save">
    </div>

</f:form>
